<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group ">
    <%= form.text_field :name, class: "form-control", placeholder: "Transaction Name" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :classification, class: "form-control", placeholder: "Transaction Classification" %>
  </div>

  <div class="field form-group">
    <%= form.text_field :amount, class: "form-control", placeholder: "$ Amount" %>
  </div>

  <div class="field form-group">
    <%= form.date_select :date %>
  </div>

    <div class="field form-group">
    <%= form.number_field :user_id, id: :transaction_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>


  <div class="actions form-group">
        <div class="d-grid gap-2 col-6 mx-auto">
    <%= form.submit class:"btn btn-dark text-white "%>

  </div>
    </div>

<% end %>
