
<table class="table table-dark table-striped table-hover mt-1 ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Classification</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @transaction.name %></td>
        <td><%= @transaction.classification %></td>
        <td><%= @transaction.date %></td>
        <td><%= @transaction.amount %></td>
      </tr>
  </tbody>
</table>


<div class="d-grid gap-2 col-5 mx-auto">
<%= link_to 'Edit', edit_transaction_path(@transaction), class:"btn btn-dark text-white" %> 
<%= link_to 'Back', transactions_path, class:"btn btn-dark text-white" %>
</div>

